@charset "UTF-8";

section {
    display: flex;
}

h1 {
    color: #FF4081;
}

main > section {
    margin-top: 100px;
    margin-left: 200px;
}

main > section > div > h1 {
    font-size: 3.2em;
}

main > section > div > p {
    width: 461px;
    font-size: 1.2em;
    margin: 0;
    margin-top: 30px;
}

main > section > div > img {
    margin-left: 70px;
}

article {
    margin-top: 70px;
    padding-left: 200px;
    padding-bottom: 70px;
    background-color: #F6F6F6;
}

article div {
    margin-top: 70px;
}

article h1 {
    font-size: 2em;
}

article p {
    width: 501px;
    font-size: 1.3em;
    margin-top: 30px;
}

article h1, p {
    margin-left: 70px;
}

iframe {
    width: 462px;
    height: 261px;
}

hr {
    width: 1244px;
    height: 3px;
    margin-left: -100px;
    margin-top: 80px;
    background-color: #C4C4C4;
}

@media only screen and (max-width: 834px) {
    
    main > section {
        margin: auto;
        display: block;
        text-align: center;
    }
     
    main > section > div > h1 {
        margin-bottom: 3vh;
        margin-top: 3vh;
    }

    main > section > div > p {
        margin: auto;
        margin-bottom: 3vh;
    }

    article section {
        display: block;
    }

    article h1 {
        margin: 0;
    }

    article p {
        margin: 0;
    }

    hr {
        width: 80vw;
    }
}

@media only screen and (max-width: 428px) {
    
    main > section > div > h1 {
        margin-bottom: 3vh;
        margin-top: 3vh;
        font-size: 2.5em;
    }

    main > section > div > p {
        margin: auto;
        margin-bottom: 3vh;
        font-size: 1.2em;
        width: 90vw;
    }

    main > section > div > img {
        margin: 0;
        height: 40vh;
    }

    article {
        padding: 0;
    }

    article section {
        display: block;
        margin: 0;
    }
    
    article iframe {
        width: 90vw;
        margin-left: 5vw;
    }

    article h1 {
        margin-left: 5vw;
    }

    article p {
        width: 90vw;
        margin-left: 5vw;
        margin-bottom: 5vh;
    }

    hr {
        width: 10vw;
    }
}