@charset "UTF-8";

#index1 {
    display: flex;
    justify-content: center;
}

#index1 h1 {
    color: #FF4081;
    font-weight: bolder;
    font-size: 3em;
}

#index1 p {
    color: #555555;
    font-size: 1.5em;
}

#index1 a {
    color: #FF4081;
    text-decoration: none;
    border: 1px solid #FF4081;
}

#section1 {
    height: 730px;
    background-color: #F6F6F6;
}

#section1 article {
    display: flex;
    justify-content: space-around;
    height: 530px;
}

#section1 div {
    height: 500px;
}

#section1 h2 {
    color: #FF4081;
}

#section1 img {
    height: 270px;
}

#section1 p {
    width: 293px;
    height: 60px;
    text-align: center;
}

#section1 a {
    margin-left: 50px;
    margin-top: 40px;
    background-color:  #FF4081;
    text-decoration: none;
    color: white;
}

#section2 article {
    display: flex;
    justify-content: space-around;
}

#section2 p {
    width: 363px;
    display: inline-block;
}

#section2 span {
    display: block;
}

#section3 article {
    display: flex;
    justify-content: space-around;
}

#section3 a {
    display: flex;
    justify-content: center;
}