@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: #2E948A;
    height: 117px;
}

header > nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 117px;
    margin-right: 90px;
}

header > img {
    position: absolute;
    margin-left: 80px;
    margin-top: 20px;
}

header > nav > a {
    text-decoration: none;
    padding-left: 40px;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
}

footer {
    background-color: #419488;
    height: 207px;
    display: flex;
}

footer img {
    align-content: center;
    margin-top: 50px;
    margin-left: 100px;
}

footer nav {
    display: flex;
    margin-left: 210px;
    height: 207px;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav ul a {
    text-decoration: none;
}

#lista1 {
    margin-right: 400px;
    font-size: 1.2em;
}

#lista1 li {
    margin-bottom: 8px;
}

#lista1 a {
    color: white;
}

#lista2 li {
    font-size: 1.3em;
    border: 2px solid white;
    border-radius: 25px;
    margin-bottom: 10px;
    padding: 10px 40px 10px 60px;
}

#lista2 a {
    color: white;
}

@media only screen and (max-width: 834px) {
    
    header img {
        width: 200px;
        margin: 0;
        margin-top: 20px;
        margin-left: 50px;
    }

    header nav {
        flex-flow: column nowrap;
        margin: 0;
        margin-left: 600px;
    }

    header nav a {
        padding: 9px;
        font-size: 1.1em;
    }

    footer {
        height: 207px;
    }

    footer nav {
        margin: 0px;
    }

    footer img {
        width: 200px;
        margin: 0px;
        margin-top: 60px;
        margin-left: 20px;
    }

    footer #lista1 {
        margin: 0px;
        margin-left: 180px;
    }

    footer #lista2 {
        margin: 0px;
        margin-left: 100px;
    }

    #lista2 li {
        font-size: 0.9em;
        margin-left: 50px;
        padding: 10px;
        text-align: center;
    }
}

@media only screen and (max-width: 428px) {
    
    header {
        width: 100vw;
        height: 110px;
    }
    
    header img {       
        margin: 0;
        margin-top: 30px;
    }

    header nav {
        margin: 0;
        margin-top: -20px;
        margin-left: 70vw;
        font-size: 0.8em;
    }

    footer {
        width: 100vw;
        height: 110px;
        display: flex;
        justify-content: space-around;
    }

    footer img {
        width: 125px;
    }

    footer div {
        margin-top: 30px;
    }

    footer nav {
        margin: 0px;
    }

    footer img {       
        margin: 0px;
    }

    footer #lista1 {
        margin: 0px;
        margin-bottom: 90px;
        margin-left: 5vw;
    }

    footer #lista2 {
        margin: 0px; 
        margin-bottom: 85px;     
    }

    #lista2 li {
        height: 20px;
        width: 21vw;
        margin: 0;
        margin-bottom: 1vh;
        margin-left: 6vw;
    }
}